/* место для вашего кода */
.major-text {
  color: rgb(255 255 255);
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0 / 0.6);
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.cover__header-text {
  display: block;
  padding: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.cover__header-middle {
  margin-left: 30px;
  text-align: center;
}

.cover__header-end {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}

.letter-spacing-extended-small {
  word-spacing: 18px;
}

.letter-spacing-extended-big {
  word-spacing: 20px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid rgb(255 255 255);
  font-size: 22px;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg");
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card__text {
  color: rgb(255 255 255);
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-position: under;
}

.about {
  padding: 0 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
}

.about__logo {
  display: flex;
  justify-items: center;
  place-content: center space-between;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

.about__logo-image {
  display: flex;
  min-width: 148px;
  height: 114px;
}

.about__title {
  padding: 136px 0 100px 25px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
