/* место для вашего кода */

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgb(0 0 0 / 0.6);
}

.lots-film {
  background: url('../images/card-lot-01.jpg');
}
.lots-book {
  background: url('../images/card-lot-02.jpg');
}

.lots-painting {
  background: url('../images/card-lot-03.jpg');
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  background: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
}

.cover__header {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}

.cover__header-text {
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  padding: 0;
}

.cover__header-middle {
  margin-left: 30px;
  text-align: center;
}

.cover__header-end {
  margin-right: -30px;
  text-align: right;
}