/* место для вашего кода */
.cover {
  background: url('../images/cover.jpg');
}

.lots-film {
  background: url('../images/card-lot-01.jpg');
}
.lots-book {
  background: url('../images/card-lot-02.jpg');
}

.lots-painting {
  background: url('../images/card-lot-03.jpg');
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__logo {
  width: 138px;
  height: 105px;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
  line-height: 24px;
}